.App {
  text-align: center;
}
body{
  background-color:darkgrey;
  padding: 55px;
}
h1{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  text-align: center;
  border-width: 5px;
  border-style: solid;

}
.full-name{
background-color: darkred;
}